.active{
    position: relative;
}

.active::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #443D32;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
}